@model MVCDEMO.Models.Doanvien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doanvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cdid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cdid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
